version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm
          command: 'npm install'
      - run:
          name: lint
          command: 'npm lint'
      - run:
          name: test
          command: 'node ./node_modules/jest/bin/jest.js --coverage'
      - run:
          name: coverage
          command: 'cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage'
